@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;


}


:root {

    --cor-principal: black;
    --cor-secundaria: #9ca3af;
}


body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgba(242, 251, 255, 1) 0%, rgba(242, 242, 242, 1) 52%, rgba(237, 247, 255, 1) 100%);



}

strong {
    color: rgb(240, 165, 5)
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;


}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;



}

.div_imagemEscrevendo {
    border-radius: 10vh;


}

#wcpsemfundo {

    width: 18vh;


}

.paginas {
    display: flex;
    gap: 4vh;
    font-size: 1.5vh;
    align-items: center;
    margin-right: 2vh;

}

#paginas_link {
    text-decoration: none;
    font-weight: 550;
    color: #1e40af;
    padding-bottom: 0.5vh;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out
}

#paginas_link:hover {
    border-bottom-color: rgb(255, 174, 0);



}

.bloco_principal {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff url(https://user-gen-media-assets.s3.amazonaws.com/gemini_images/3fd2b76f-fdf1-4625-b3f5-7e6d51c9fc2c.png) center center/cover no-repeat;
    margin: 0 auto;
    overflow: hidden;
}

.bloco_principal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 0;
}

.bloco_principal>* {
    position: relative;
    z-index: 1;
}


.bloco_esquerdaPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    color: white;
}

.divTitultoSubtitulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vh;
}

#titulo {
    font-size: 6vh;
    text-shadow: 5px 4px 3px rgb(29, 29, 29);
}

.textoPrincipal {
    color: var(--cor-secundaria);
    font-size: 1.8vh;
    text-shadow: 3px 2px 3px rgb(0, 0, 0);


}

.div_botaos_principal {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

#botaoServico {
    background-color: rgb(240, 165, 5);
    transition: transform 0.3s ease-in-out;
    color: #0404a5;
    font-weight: 480;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);
}

#botaoServico:hover {
    transform: scale(1.05);

}


#botaoContato {
    background-color: rgb(224, 222, 217);
    color: rgb(224, 222, 217);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);


}

#botaoContato:hover {
    transform: scale(1.05);
    color: #0404a5;
    font-weight: 480;


}



.botaoBlocoPrincipal {
    padding: 1vh 2vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;


}

#imagemEscrevendo {

    border-radius: 5vh;
    width: 64vh;
    margin: 10vh;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);

}

.bloco_servicos {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding-bottom: 15vh;

}

.titulo_servicos {
    color: #050574;
    font-size: 5vh;
}

.subtituloServicos{
    color: rgb(82, 82, 82);
    font-weight: 550;
    font-size: 2vh;
    margin-bottom: 3vh;

}

.blocos_servicos {
    display: flex;
    flex-direction: row;
    gap: 10vh;
    margin-bottom: 3vh;
    
    


}

.quadrados_servicos {
    display: flex;
    flex-direction: column;
    max-width: 20vh;
    border: none;
    border-radius: 1vh;
    box-shadow: -1px 0px 6px -2px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -1px 0px 6px -2px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 0px 6px -2px rgba(0, 0, 0, 0.29);
    padding: 5vh;
    background-color:#7a7e8605 ;
}

.quadrados_servicos p {
    width: auto;

}

.botao_servicos {
    box-shadow: -1px 0px 6px -2px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -1px 0px 6px -2px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 0px 6px -2px rgba(0, 0, 0, 0.29);
    padding: 1vh 6vh;
    border: 3px solid #0404a5;
    border-radius: 1vh;
    transition: transform color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}



.botao_servicos:hover {

    background-color: #0404a5;

}

#link_botao_servicos {

    text-decoration: none;
    color: #0404a5;
    transition: color 0.3s ease-in-out;

}

.bloco_escolher {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 20vh;

}

.bloco_escolher_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.bloco_esquerda_debaixo {

    display: flex;
    flex-direction: column;
    gap: 2vh;


}

.bloquinhos_esquerda {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 1vh 2vh;
    background: radial-gradient(circle, rgba(242, 251, 255, 1) 0%, rgba(242, 242, 255, 1) 52%, rgba(237, 247, 255, 1) 100%);
    border-radius: 1vh
}

.bloquinhos_esquerda:hover {
    transform: scale(1.01);
    background: radial-gradient(circle, rgba(220, 226, 245, 1) 0%, rgba(199, 221, 242, 1) 100%);



}

.div_icons {

    padding: 1.3vh;
    background: linear-gradient(to bottom, rgba(34, 34, 171, 1) 0%, rgba(30, 64, 175, 1) 34%, rgba(30, 64, 175, 1) 100%);
    border-radius: 1vh;

}

.icone {
    color: orange;
}

.div_imagem_conversando {

    box-shadow: 19px 15px 4px -4px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 19px 15px 4px -4px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 19px 15px 4px -4px rgba(0, 0, 0, 0.46);

}

.faleConosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(31, 31, 124, 0.925) 0%, rgba(13, 43, 145, 0.863) 35%, rgba(13, 45, 153, 0.918) 100%);
    width: 100%;
    height: 25vh;
    margin: auto 0;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;

}

#textoBotaoFaleConosco {
    text-decoration: none;
    color: #252599;
}

.botaoFaleConosco {
    padding: 2vh 5vh;
    background-color: rgb(211, 129, 7);
    margin-top: 5vh;
    border-radius: 1vh;
    font-weight: 600;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.botaoFaleConosco:hover {
    transform: scale(1.1);
    background-color: rgb(255, 174, 0);


}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0;
    gap: 10vh;
}

.blocoUm {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#blocoUmWcp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;

}

.blocoDois {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh;
}

.blocoTelefone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;

}

.blocoMail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.blocoLocalizacao {
    display: flex;
    flex-direction: row;
    align-items: self-start;

}

#noni {
    display: none;
}

.blocoRelogio {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.blocoTres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    text-align: center;
}