@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}


:root {

    --cor-principal: black;
    --cor-secundaria: #9ca3af;
}


body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgb(226, 233, 235) 0%, rgb(238, 237, 237) 52%, rgba(237, 247, 255, 1) 100%);
}

strong {
    color: rgb(240, 165, 5)
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 7vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.div_imagemEscrevendo {
    border-radius: 10vh;
}

#wcpsemfundo {
    width: 18vh;
}

.paginas {
    display: flex;
    gap: 4vh;
    font-size: 1.5vh;
    align-items: center;
    margin-right: 2vh;
}

#paginas_link {
    text-decoration: none;
    font-weight: 550;
    color: #1e40af;
    padding-bottom: 0.5vh;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out
}

#paginas_link:hover {
    border-bottom-color: rgb(255, 174, 0);
}

main{
    display: flex;
    flex-direction: column;   
}

.bloco_hero{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 3vh;
padding: 5vh;
background-color: #1e40af;
text-align: center;
margin-bottom: 8vh;
}

.bloco_tipos_servicos{

display: flex;
flex-direction: column;
align-items: center;
}



.conjunto_bloco_sup{
    display: flex;
    flex-direction: row;
    gap: 40vh;
}

.bloco_um_esquerda{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: max-content;
}

.topo_quadrados{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 2vh 8vh 2vh 0vh;
    align-items: center;
    
}

.icon_topo_quadrados{
background-color: #1e40af;
padding: 1.5vh;
border-radius: 1vh;
color: rgb(214, 214, 214);
}

.div_conjunto_itens{
    display: flex;
    flex-direction: column;
    gap: 1rem


}

.div_itens_lista{
    display: flex;
    flex-direction: row;
    align-items: center;
}