@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}


:root {

    --cor-principal: black;
    --cor-secundaria: #9ca3af;
}


body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgb(226, 233, 235) 0%, rgb(238, 237, 237) 52%, rgba(237, 247, 255, 1) 100%);
}

strong {
    color: rgb(240, 165, 5)
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 7vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.div_imagemEscrevendo {
    border-radius: 10vh;
}

#wcpsemfundo {
    width: 18vh;
}

.paginas {
    display: flex;
    gap: 4vh;
    font-size: 1.5vh;
    align-items: center;
    margin-right: 2vh;
}

#paginas_link {
    text-decoration: none;
    font-weight: 550;
    color: #1e40af;
    padding-bottom: 0.5vh;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out
}

#paginas_link:hover {
    border-bottom-color: rgb(255, 174, 0);
}

main {
    display: flex;
    flex-direction: column;
}

.bloco_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 5vh;
    background-color: #1e40af;
    text-align: center;
    margin-bottom: 8vh;
}

.bloco_tipos_servicos {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30vh;
}



.conjunto_bloco_sup {
    display: flex;
    flex-direction: row;
    gap: 40vh;
}

.bloco_um_esquerda {
    display: flex;
    flex-direction: column;

    max-width: max-content;
}

.topo_quadrados {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 2vh 8vh 2vh 0vh;
    align-items: center;


}

.fundo_topo_esquerda {
    background-image: linear-gradient(to right top, #215aaf, #2b66bf, #3572cf, #3e7edf, #478bf0);

}


.icon_topo_quadrados {
    padding: 1.5vh;
    border-radius: 1vh;
    color: rgb(214, 214, 214);
}

.fundo_icon_esquerda {
    background-color: #1e40af;
}



.div_conjunto_itens {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.div_itens_lista {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bloco_um_direita {
    display: flex;
    flex-direction: column;
    max-width: max-content;

}

.fundo_topo_direita {
    background: linear-gradient(90deg, rgba(87, 41, 12, 1) 0%, rgba(107, 64, 12, 1) 51%, rgba(105, 49, 17, 1) 100%);
}

.fundo_icon_direita {
    background: linear-gradient(132deg, rgba(51, 32, 9, 1) 0%, rgba(59, 31, 10, 1) 17%, rgba(51, 32, 9, 1) 100%);
}

.bloco_como_funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;

}

.passoApasso {
    display: flex;
    flex-direction: row;
    gap: 10vh;
    margin-top: 4vh;
    max-width: max-content;
}

.quadrado_primeiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

}

.numero1 {
    padding: 1.3vh 1.5vh;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(227, 204, 57, 1) 10%, rgba(237, 194, 38, 1) 100%);
    color: white;
    font-size: 13px;

}

.numero1 h1 {
    text-shadow: 3px 1px 2px rgb(202, 206, 205);
}


.bloco_escolha {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vh;
    background:
        url("https://img.freepik.com/fotos-gratis/o-homem-idoso-esta-usando-o-computador-portatil_53876-167096.jpg?semt=ais_hybrid&w=740&q=80") center center / cover no-repeat;
    overflow: hidden;
    padding: 8vh 4vh;
    
}


.bloco_escolha::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(7, 15, 37, 0.938);
    /* camada escura */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 0;
}


.bloco_escolha>* {
    position: relative;
    z-index: 1;
}

.div_escolha_esquerda {
    display: flex;
    flex-direction: column;
    gap: 1vh;

}

.div_verificados {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.verificados {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: max-content;
}

.div_quadrados {

    display: inline-grid;
    grid-template-columns: 20vh 20vh;
    gap: 5vh;
    align-items: center;
    text-align: center;
}

.quadradinhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3032389f;
    max-width: 20vh;
    height: 20vh;
    justify-content: center;
    border-radius: 2vh;
    border: 1px solid rgb(87, 87, 87);
    color: rgb(211, 209, 77)

}
