@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

a{
    cursor: pointer;
}

h1 {
    color: #0B2233;
}

:root {

    --cor-principal: black;
    --cor-secundaria: #9ca3af;
}


body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgb(226, 233, 235) 0%, rgb(238, 237, 237) 52%, rgba(237, 247, 255, 1) 100%);
}

strong {
    color: rgb(240, 165, 5)
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 7vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}


.div_imagemEscrevendo {
    border-radius: 10vh;
}

#wcpsemfundo {
    width: 18vh;
}

.paginas {
    display: flex;
    gap: 4vh;
    font-size: 1.5vh;
    align-items: center;
    margin-right: 2vh;
}

#paginas_link {
    text-decoration: none;
    font-weight: 550;
    color: #1e40af;
    padding-bottom: 0.5vh;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out
}

#paginas_link:hover {
    border-bottom-color: rgb(255, 174, 0);
}

main {
    display: flex;
    flex-direction: column;
}

.bloco_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 7vh;
    background-color: #1e40af;
    text-align: center;
    margin-bottom: 8vh;
    background:
        url("https://images.pexels.com/photos/1181467/pexels-photo-1181467.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&fit=crop") center center / cover no-repeat;
    overflow: hidden;
    position: relative;

}

.bloco_hero::after {

    content: "";
    position: absolute;
    inset: 0;
    background: rgba(11, 26, 61, 0.65);
    /* azul escuro translúcido */
    background: rgba(11, 26, 61, 0.65);
    /* azul escuro translúcido */
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 0;
}

.bloco_hero * {
    position: relative;
    z-index: 1;
}

.bloco_hero h1 {
    font-size: 6.5vh;
    color: rgba(240, 240, 240, 0.952);
    font-weight: 650;
    font-family: "Chiron Sung HK", serif;
    font-optical-sizing: auto;



}

.bloco_hero h4 {
    font-size: 1.2rem;
    color: rgba(240, 240, 240, 0.76);


}

.bloco_tipos_servicos {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}



.conjunto_bloco_sup {
    display: flex;
    flex-direction: row;
    gap: 40vh;
}

.bloco_um_esquerda {
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    max-width: max-content;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}

.bloco_um_esquerda:hover .fundo_icon_esquerda {

    transform: scale(1.12);
}
.bloco_um_direita:hover .fundo_icon_direita {

    transform: scale(1.12);
}

#um, #dois, #tres, #quatro, #cinco, #seis {
  transform: translateX(0);
  transition-delay: 0s;
}

.bloco_um_esquerda:hover #um{
    transform: translateX(7px);
    transition-delay: 0s;
}
.bloco_um_esquerda:hover #dois{
    transform: translateX(7px);
    transition-delay: 0.1s;
}
.bloco_um_esquerda:hover #tres{
    transform: translateX(7px);
    transition-delay: 0.2s;
}
.bloco_um_esquerda:hover #quatro{
    transform: translateX(7px);
    transition-delay: 0.3s;
}
.bloco_um_esquerda:hover #cinco{
    transform: translateX(7px);
    transition-delay: 0.4s;
}
.bloco_um_esquerda:hover #seis{
    transform: translateX(7px);
    transition-delay: 0.5s;
}
.bloco_um_direita:hover #um{
    transform: translateX(7px);
    transition-delay: 0s;
}
.bloco_um_direita:hover #dois{
    transform: translateX(7px);
    transition-delay: 0.1s;
}
.bloco_um_direita:hover #tres{
    transform: translateX(7px);
    transition-delay: 0.2s;
}
.bloco_um_direita:hover #quatro{
    transform: translateX(7px);
    transition-delay: 0.3s;
}
.bloco_um_direita:hover #cinco{
    transform: translateX(7px);
    transition-delay: 0.4s;
}
.bloco_um_direita:hover #seis{
    transform: translateX(7px);
    transition-delay: 0.5s;
}



#um{
    transition: transform 0.3s ease-in-out;
}
#dois{
    transition: transform 0.3s ease-in-out;
}
#tres{
    transition: transform 0.3s ease-in-out;
}
#quatro{
    transition: transform 0.3s ease-in-out;
}
#cinco{
    transition: transform 0.3s ease-in-out;
}
#seis{
    transition: transform 0.3s ease-in-out;
}

.topo_quadrados {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 2vh 8vh 2vh 0vh;
    align-items: center;


}

.topo_quadrados h1 {

    color: rgba(240, 240, 240, 0.952);
}

.fundo_topo_esquerda {
    background: linear-gradient(135deg, #4C8EF7 0%, #1E63D6 100%);

    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;



}


.icon_topo_quadrados {
    padding: 1.5vh;
    border-radius: 1vh;
    color: rgb(214, 214, 214);
    margin-left: 1vh;
}

.fundo_icon_esquerda {
    background-color: #1E63D6;
    transition: transform 0.3s ease-in-out;
}



.div_conjunto_itens {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.div_itens_lista i {
    color: green;
    transition: transform 0.4s ease-in-out;
}

.div_itens_lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
}

.iconVerificado {
    color: green;


}

.bloco_um_direita {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    background-color: white;
    border-radius: 2vh;


}

.fundo_topo_direita {
    background: linear-gradient(135deg, #8C5321 0%, #5A2E0A 100%);

    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}

.fundo_icon_direita {
    background-color: #6B3A0F;
    transition: transform 0.3s ease-in-out;
}

.bloco_como_funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;

}

.bloco_como_funciona h1 {
    font-size: 6.5vh;
    font-weight: 500;
    font-family: "Chiron Sung HK", serif;
    font-optical-sizing: auto;

}

.bloco_como_funciona h2 {
    font-size: 2.5vh;

}

.bloco_como_funciona p {
    font-weight: 500;
    color: rgba(112, 103, 103, 0.877);

}


.passoApasso {
    display: flex;
    flex-direction: row;
    gap: 10vh;
    margin-top: 4vh;
    max-width: max-content;
}

.quadrado_primeiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

}

.numero1 {
    padding: 1.3vh 1.5vh;
    border-radius: 100%;
    background: linear-gradient(135deg, #F6CF5A 0%, #E9B224 40%, #C68910 100%);
    color: white;
    font-size: 13px;
    transition: transform 0.3s ease-in-out;
}

.numero1:hover{
transform: scale(1.12);


}

.numero1 h1 {
    text-shadow: 3px 1px 2px rgb(202, 206, 205);
}


.bloco_escolha {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vh;
    background:
        url("https://img.freepik.com/fotos-gratis/o-homem-idoso-esta-usando-o-computador-portatil_53876-167096.jpg?semt=ais_hybrid&w=740&q=80") center center / cover no-repeat;
    overflow: hidden;
    padding: 8vh 4vh;

}


.bloco_escolha::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(7, 17, 39, 0.815);
    /* camada escura */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 0;
}


.bloco_escolha>* {
    position: relative;
    z-index: 1;
}

.div_escolha_esquerda {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.div_escolha_esquerda h1 {
    font-size: 6.5vh;
    color: rgb(223, 218, 218);
    font-family: "Chiron Sung HK", serif;
    font-weight: 500
}

.div_escolha_esquerda p {
    font-weight: 500;
    color: rgba(189, 183, 183, 0.877);

}

.texto_escolha_esquerda {
    margin-bottom: 3vh;
    margin-top: 1vh;
    font-size: 2vh;

}

.div_verificados {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icon_escolha {
    color: #E9B224;

}





.verificados {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: max-content;
    gap: 15px;
}

.verificados p {
    color: rgb(243, 238, 238);

}

.div_quadrados {

    display: inline-grid;
    grid-template-columns: 20vh 20vh;
    gap: 5vh;
    align-items: center;
    text-align: center;
}

.quadradinhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3032389f;
    max-width: 20vh;
    height: 20vh;
    justify-content: center;
    border-radius: 2vh;
    border: 1px solid rgb(87, 87, 87);
    color: #E9B224;
    transition: background-color 0.3s ease-in-out;
}


.quadradinhos:hover {
    background-color: #4447509f;

}

.bloco_solicita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9vh 0vh 9vh 0vh;
    max-width: 100%;
    background: linear-gradient(135deg, #F6CF5A 0%, #E9B224 40%, #C68910 100%);

}

.bloco_solicita h1 {
    font-size: 6vh;
    font-family: "Chiron Sung HK", serif;
    font-weight: 55 0;

}

.bloco_solicita p {
    font-weight: 600;
    color: rgba(27, 25, 25, 0.877);
    margin-top:2vh;
    margin-bottom:3vh

}

.link_solicitar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh 3vh;
    color: white;
    background-color: #0B2233;
    border-radius: 1vh;
    transition: transform 0.3s ease-in-out;
    gap: 8px;
}

.link_orcamento{
    color: white;

}

.link_solicitar:hover {
    transform: scale(1.05);
}

#setaDireitaSolicita {
    transition: transform 0.3s ease-in-out;

}

.link_solicitar:hover #setaDireitaSolicita {

    transform: translateX(2vh);
}





footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(10, 4, 74, 1) 0%, rgba(12, 24, 112, 1) 54%, rgba(4, 13, 135, 1) 82%, rgba(23, 7, 115, 1) 100%);
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    margin-top: 0;

}


footer p {
    color: #797575;
    font-weight: 480;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0;
    gap: 10vh;
    margin-top: 5vh;
    padding-bottom: 1rem;
    border-bottom: 2px solid gray;
}

.blocoUm {
    display: flex;
    flex-direction: column;

}

#blocoUmWcp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;

}

.textosBlocoUm {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: start;
    justify-content: center;
    gap: 2rem;

}

.blocoDois {
    display: flex;
    flex-direction: column;


    align-items: start;
}

.div_org_encontrar {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 1.5rem;
    color: #E9B224;
}

.blocoTelefone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    transition: transform 0.3s ease-in-out;
}

.blocoTelefone:hover {
    transform: scale(1.08);

}


.numeroLia {
    color: #797575;

}

.blocoMail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.blocoLocalizacao {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 8px;
    transition: transform 0.3s ease-in-out;

}

.blocoLocalizacao:hover {
    transform: scale(1.08)
}



#endereco {
    color: #797575;
    ;

}



.div_relogio_horario {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    color: #E9B224;
}

.blocoRelogio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#horario {
    color: rgb(230, 227, 227);

}


.blocoTres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    text-align: center;

}

#direitosWCP {
    margin-top: 2vh;
    font-size: 0.8rem;
    margin-bottom: 1vh;

}

.div_icons {

    padding: 1.3vh;
    background: linear-gradient(to bottom, rgba(34, 34, 171, 1) 0%, rgba(30, 64, 175, 1) 34%, rgba(30, 64, 175, 1) 100%);
    border-radius: 1vh;
    color: #E9B224;

}