@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

:root {
  --cor-principal: black;
  --cor-secundaria: #9ca3af;
}

body {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, rgb(226, 233, 235) 0%, rgb(238, 237, 237) 52%, rgba(237, 247, 255, 1) 100%);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}



/* cabecalho*/
.topo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #ffffffc5;
}

#wcpsemfundo {
  width: 18vh;
}

.paginas {
  display: flex;
  gap: 4vh;
  font-size: 1.5vh;
  align-items: center;
  margin-right: 2vh;
}

#paginas_link {
  text-decoration: none;
  font-weight: 550;
  color: #1e40af;
  padding-bottom: 0.5vh;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
}

#paginas_link:hover {
  border-bottom-color: rgb(255, 174, 0);
}


/* mainn */

.bloco_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vh;
  text-align: center;
  background: linear-gradient(135deg, #2e1065 0%, #4338ca 40%, #312e81 100%);
  background-size: 400% 400%;
  animation: pulse-gradient 15s ease infinite;
  gap: 3vh;
}

@keyframes pulse-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;

  }

}

.blocoCoroa {
  display: flex;
  align-items: center;
  padding: 2vh;
  background-image: linear-gradient(90deg, #05071138 10%, #345ed1 100%);
  border-radius: 1vh;
  background-size: 400% 400%;
  animation: pulse-gradient 15s ease infinite;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

}

@keyframes pulse-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}


#tituloHero {
  font-size: 9vh;

}



#textoHero {
  font-weight: 500;
}




.bloquinhos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vh;


}



.configBloco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1vh;
  padding: 2vh;
  color: white;
  transition: background-color 0.3s ease-in-out;
  width: 20vh;
  height: 15vh;


}

.configBloco:hover {

  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.configBloco:hover .bloquinho_icon {
  background-color: #05050750;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

}

.bloquinho_icon {
  display: flex;
  padding: 2vh;
  border-radius: 1vh;
  background-color: #0507111a;
  transition: background-color 0.3s ease-in-out;

}

.bloco_timeline{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}



.timelineEsquerda{
  display:flex;
  flex-direction: column;
  gap: 2vh;
  align-items: start;
  flex: 0 0 auto;      
  max-width: 45%;     
  
  
}

.armazenaTitulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 2vh;
  width: max-content;

}

.mudaLinha{
  display: flex;
  flex-direction: column;
  
}



#tituloNossa{
  font-size: 9vh;
  font-weight: 300;
}

.linhaNossa{
  width: 100%;
  
}

#tituloNossa strong{
  font-weight: 550;
  color: #0d1d52;
}

.subtituloTimeline{
  font-size: 2.5vh;
  font-weight: 500;
}

.paragrafoTimeline{
  font-weight: 400;
  font-size: 1.8vh;
}

.bloco_textos{
  display: flex;
  flex-direction: column;
  width: 60%; 
  gap: 2vh;
  
}

.bloco_mensagem {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 2vh;
  border-radius: 1vh;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 3vh;
  width: 80%;
  background-color: #a09c9c13;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.esquerdaMensagem{
  display: flex;
  align-items: start;
}

.blocoIconluz {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: #0f172a; 
}

.iconLuz {
  color: white;
  width: 2.2vh;
  height: 2.2vh;
}

.direitaMensagem {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: start;
}
.textoMensagem {
  font-style: italic;
  font-size: 2vh;
  color: #1e293b; 
  font-weight: 500;
}

.assinatura {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vh;
}

.bolaWP {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: #0f172a;
  color: white;
  font-weight: 600;
}

.nomeCargo {
  display: flex;
  flex-direction: column;
  color: #334155;
  font-size: 1.6vh;
}

.nomeCargo p:first-child {
  font-weight: 600;
}

.nomeCargo p:last-child {
  font-size: 1.4vh;
  color: #64748b;
}

.bloco_timelineDireita{
  display: flex;
  flex-direction: column;
  gap: 6vh;
  align-items: center; 
  max-width: 45%;
}

.bloco_invisivel{
  display: flex;
  flex-direction: row;
  gap: 2vh;
  width: max-content;
}

.esquerdaInvisivel{
  display: flex;
  align-items: start;
}

.blocoIconFoguete{
  display: flex;
  align-items: center;
  padding: 1.5vh;
  border-radius :1vh;
  border: 1px solid rgba(0, 0, 0, 0.315);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition:  box-shadow 0.3s ease-in-out;

}

.blocoIconFoguete:hover{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(13, 15, 17, 0.582) 0px 0px 0px 1px;
}


.blocoIconFoguete i {
  width: 8vh;  
  height: 8vh; 
  font-size: 3vh; 
  
}

.iconFoguete{
  width: 3.5vh;
  height: 3.5vh;

}

.direitaInvisivel{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.096);
  padding: 3vh;
  border-radius: 1vh;
  max-width: 40vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 0px;
  gap: 1vh;
  transition: box-shadow 0.3s ease-in-out; 
  align-items: start  
}

.direitaInvisivel:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bloco_invisivel:hover .direitaInvisivel {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px, rgba(0, 0, 0, 0.23) 0px 1px 3px;
}

.bloco_invisivel:hover .blocoIconFoguete {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(13, 15, 17, 0.582) 0px 0px 0px 1px;
}



.direitaInvisivel p {
  font-weight: 300;
}
.direitaInvisivel h4 {
  width: 30%;
  font-weight: 600;
}



.bloco_missaovalores{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c8c8ca15;
  gap: 5vh;
 
  padding: 8vh 0vh;
}

.armazenaMissaoValores{
  display: flex;
  flex-direction: row;
  gap: 5px;

}

.juncaoMissaoVisao{
  display: flex;
  flex-direction: row;
  gap: 5vh;
  margin: 0 auto;
  
}


.blocoMissao{
  display: flex;
  flex-direction: column;
  gap: 3vh;
  max-width: max-content;
  background-color: #ffffff59;
  border-radius: 1vh;
  padding: 5vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.SupBloco{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 2vh;
}

.SupBloco h2{
  font-size: 2.5vh;
  font-weight: 300;
}

.blocoIconLampada{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  border-radius: 1vh;
  background-color: #0f172a;

}

.iconLampada{
  width: 3vh;
  height: 3vh;
  color: white;
}

.textoMissao{
  font-weight: 420;
  font-size: 1.8vh;
  color: #050507b9;
  width: 55vh;
}

.textoMissao strong{
  color: #0f172a;
}




















































/* footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg,
      rgba(10, 4, 74, 1) 0%,
      rgba(12, 24, 112, 1) 54%,
      rgba(4, 13, 135, 1) 82%,
      rgba(23, 7, 115, 1) 100%);
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  margin-top: 0;
}

footer p {
  color: #797575;
  font-weight: 480;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vh;
  margin-top: 5vh;
  padding-bottom: 1rem;
  border-bottom: 2px solid gray;
}

.blocoUm,
.blocoDois {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#blocoUmWcp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
}

.textosBlocoUm {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}

.div_icons {
  padding: 1.3vh;
  background: linear-gradient(to bottom,
      rgba(34, 34, 171, 1) 0%,
      rgba(30, 64, 175, 1) 34%,
      rgba(30, 64, 175, 1) 100%);
  border-radius: 1vh;
  color: #E9B224;
}

.div_org_encontrar {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 1.5rem;
  color: #E9B224;
}

.numeroLia,
#endereco {
  color: #797575;
}

.blocoTelefone,
.blocoMail,
.blocoLocalizacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
  transition: transform 0.3s ease-in-out;
}

.blocoTelefone:hover,
.blocoLocalizacao:hover {
  transform: scale(1.08);
}

.div_relogio_horario {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  color: #E9B224;
}

.blocoRelogio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#horario {
  color: rgb(230, 227, 227);
}

#direitosWCP {
  margin-top: 2vh;
  font-size: 0.8rem;
  margin-bottom: 1vh;
}