@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;


}


:root {

    --cor-principal: black;
    --cor-secundaria: #9ca3af;
}


body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgb(226, 233, 235) 0%, rgb(238, 237, 237) 52%, rgba(237, 247, 255, 1) 100%);



}

strong {
    color: rgb(240, 165, 5)
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;


}

.topo {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}









#wcpsemfundo {

    width: 18vh;


}

.paginas {
    display: flex;
    gap: 4vh;
    font-size: 1.5vh;
    align-items: center;
    margin-right: 2vh;

}

#paginas_link {
    text-decoration: none;
    font-weight: 550;
    color: #1e40af;
    padding-bottom: 0.5vh;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out
}

#paginas_link:hover {
    border-bottom-color: rgb(255, 174, 0);



}

.bloco_principal {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff url(https://user-gen-media-assets.s3.amazonaws.com/gemini_images/3fd2b76f-fdf1-4625-b3f5-7e6d51c9fc2c.png) center center/cover no-repeat;
    margin: 0 auto;
    overflow: hidden;
}

.bloco_principal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 0;
}

.bloco_principal>* {
    position: relative;
    z-index: 1;
}


.bloco_esquerdaPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4vh;
    color: white;
    width: 70%
}

.divTitultoSubtitulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vh;
    align-items: center;
}

#titulo {
    font-size: 6vh;
    text-shadow: 5px 4px 3px rgb(29, 29, 29);
}

.textoPrincipal {
    color: var(--cor-secundaria);
    font-size: 1.8vh;
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
    width: 70%;


}

.div_botaos_principal {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

#botaoServico {
    background-color: rgb(240, 165, 5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #0404a5;
    font-weight: 480;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);
}

#botaoServico:hover {
    transform: scale(1.05);
    box-shadow: rgba(172, 169, 169, 0.4) 0px 5px, rgba(148, 148, 148, 0.3) 0px 10px, rgba(107, 106, 106, 0.2) 0px 15px, rgba(128, 127, 127, 0.1) 0px 20px, rgba(146, 146, 146, 0.05) 0px 25px;

}


#botaoContato {
    background-color: rgb(224, 222, 217);
    color: rgb(224, 222, 217);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);


}

#botaoContato:hover {
    transform: scale(1.05);
    color: #0404a5;
    font-weight: 480;


}



.botaoBlocoPrincipal {
    padding: 1.5vh 4vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;



}

#imagemEscrevendo {

    border-radius: 5vh;
    width: 64vh;
    margin: 10vh;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 8px 0px rgba(0, 0, 0, 0);

}

.bloco_servicos {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding-bottom: 15vh;

}

.titulo_servicos {
    color: #050574;
    font-size: 5vh;
}

.subtituloServicos {
    color: rgb(82, 82, 82);
    font-weight: 550;
    font-size: 2vh;
    margin-bottom: 3vh;

}

.blocos_servicos {
    display: flex;
    flex-direction: row;
    gap: 10vh;
    margin-bottom: 3vh;




}

.quadrados_servicos {
    display: flex;
    flex-direction: column;
    max-width: 20vh;
    border: none;
    border-radius: 1vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 5vh;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

}

.quadrados_servicos:hover {
    background-color: rgba(168, 205, 255, 0.13);
    transform: scale(1.03);
}

.quadrados_servicos p {
    width: auto;

}

.iconCarro {

    display: flex;
    width: max-content;
    padding: 2vh;
    border-radius: 1vh;
    background: linear-gradient(90deg, rgba(12, 5, 92, 1) 0%, rgba(12, 24, 112, 1) 51%, rgba(17, 6, 82, 1) 100%);
    color: white;
    margin-bottom: 2vh;

}

.tituloQuadradinhos {

    color: #050574;
}

.textoQuadradinhos {

    color: rgb(97, 95, 95)
}



.botao_servicos_div {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1.5vh 6vh;
    border-radius: 1vh;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out, gap 0.3s ease-in-out;
    background-color: rgb(240, 165, 5);
    gap: 3px;
    -webkit-box-shadow: 0px 10px 13px -7px #423e3e, 0px 0px 8px 0px rgba(63, 63, 63, 0);
    box-shadow: 0px 10px 13px -7px #5f5e5e, 0px 0px 8px 0px rgba(73, 72, 72, 0);
}



.botao_servicos_div:hover {

    transform: scale(1.01);



}

.botao_servicos_div:hover #link_botao_servicos {
    color: white;

}

.botao_servicos_div:hover .setadireitaservico {
    color: white;
    transform: translateX(2vh);


}



#link_botao_servicos {

    text-decoration: none;
    color: #0404a5;
    transition: color 0.3s ease-in-out;
    font-weight: 480;

}

.setadireitaservico {

    color: #0404a5;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.bloco_escolher {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20vh;
    width: 100%;

}

.bloco_escolher_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;

}

.bloco_escolher_esquerda h1 {
    color: #050574;
    font-size: 5vh;
}

.bloco_escolher_esquerda p {
    color: rgb(82, 82, 82);
    font-weight: 500;
    font-size: 2vh;
}

.bloco_esquerda_debaixo {

    display: flex;
    flex-direction: column;
    gap: 2vh;


}

.bloquinhos_esquerda {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 1vh 2vh;
    background: radial-gradient(circle, rgba(222, 244, 253, 0.685) 0%, rgba(231, 242, 255, 0.651) 52%, rgba(214, 237, 255, 0.692) 100%);
    border-radius: 1vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bloquinhos_esquerda:hover {
    transform: scale(1.02);
    background: radial-gradient(circle, rgba(207, 241, 255, 0.685) 0%, rgba(202, 227, 255, 0.651) 52%, rgba(175, 219, 255, 0.281) 100%);


}

.div_icons {

    padding: 1.3vh;
    background: linear-gradient(145deg, #162d63 0%, #102255 100%);

    border-radius: 1vh;

}

.icone {
    color: #f0c93d;
}

.div_imagem_conversando {
    border-radius: 1vh;
    box-shadow: 17px 17px 4px -3px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 17px 17px 4px -3px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 17px 17px 4px -3px rgba(0, 0, 0, 0.63);


}

#imagemConversando {
    border-radius: 1vh;
    background-color: black;
}

.faleConosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #0b2147 0%, #071f5f 100%);
    width: 100%;
    height: 50%;
    margin: auto 0;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;

}

.faleConosco h1 {

    color: rgb(235, 229, 229);
    font-size: 5vh;
    margin-bottom: 2vh;
    margin-top: 4vh;
    text-align: center;
    width: 50%;
}

.faleConosco p {

    color: rgba(148, 146, 146, 0.89);
    font-weight: 550;
    font-size: 2vh;
}


#textoBotaoFaleConosco {
    text-decoration: none;
    color: #252599;
}

.botaoFaleConosco {
    padding: 2vh 5vh;
    background-color: rgb(211, 129, 7);
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 1vh;
    font-weight: 600;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.botaoFaleConosco:hover {
    transform: scale(1.1);
    background-color: rgb(255, 174, 0);


}



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg,
            #070d1b 0%,
            #0d1530 50%,
            #111c3c 100%);
}

footer p {
    color: #797575;
    font-weight: 480;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0;
    gap: 10vh;
    margin-top: 5vh;
    padding-bottom: 1rem;
    border-bottom: 2px solid gray;
}

.blocoUm {
    display: flex;
    flex-direction: column;

}

#blocoUmWcp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;

}

.textosBlocoUm {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: start;
    justify-content: center;
    gap: 2rem;

}

.blocoDois {
    display: flex;
    flex-direction: column;


    align-items: start;
}

.div_org_encontrar {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 1.5rem;
}

.blocoTelefone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    transition: transform 0.3s ease-in-out;
}

.blocoTelefone:hover {
    transform: scale(1.08);

}

.numeroLia {
    color: #797575;

}

.blocoMail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.blocoLocalizacao {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 8px;
    transition: transform 0.3s ease-in-out;

}

.blocoLocalizacao:hover {
    transform: scale(1.08)
}



#endereco {
    color: #797575;
    ;

}



.div_relogio_horario {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}

.blocoRelogio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#horario {
    color: rgb(230, 227, 227);

}


.blocoTres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    text-align: center;

}

#direitosWCP {
    margin-top: 2vh;
    font-size: 0.8rem;
    margin-bottom: 1vh;

}


@media (max-width: 576px) {
    #imagemEscrevendo {
        display: none;
    }

    .bloco_principal{
        height: 60vh;
    }

    .bloco_servicos{
        margin-top: 7vh;
    }

    #titulo {
        font-size: 5vh;
    }

    .divTitultoSubtitulo {
        text-align: center;
    }

    .div_botaos_principal {
        margin-bottom: 1vh;
    }

    .botaoContato {
        text-align: center;
        color: var(--cor-principal);
    }

    .textoPrincipal {
        font-size: 1.5vh;
    }

    #imagemConversando {
        display: none;
    }

    .blocos_servicos {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        padding: 0 2vh;
    }

    .paginas {
        display: none;
    }

    .subtituloServicos {
        text-align: center;
        width: 90%;
    }

    .quadrados_servicos {
        align-items: center;
    }

    .textoQuadradinhos {
        text-align: center;
    }

    .bloco_escolher {
        flex-direction: column;
        gap: 4vh;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .bloco_escolher_esquerda{
        text-align: center;
        align-items: center;
    }

    .bloco_esquerda_debaixo{
        width: 90%;
    }

    .faleConosco{
        text-align: center;
    }
    .faleConosco h1{
        width: 100%;
    }
}